<%= semantic_form_for(@product, :url => @url, :html => {:multipart => true}) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :locale, :as => :hidden, :value => I18n.locale %>
  <div class="field">
    <% cats = Category.find_all_by_locale(I18n.locale) %>
    <%= f.input :category_id, :as => :select, :collection => cats %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <%= f.file_field :photo %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
