<h1><%= t('common.products_listing') %> </h1>

<table>
  <tr>
    <th><%= t('common.products.category') %></th>
    <th><%= t('common.products.title') %></th>
    <th><%= t('common.products.description') %></th>
    <th><%= t('common.products.price') %></th>
    <th><%= t('common.products.photo') %></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= Category.find_by_id(product.category_id).title if product.category_id %></td>
    <td><%= product.title %></td>
    <td><%= product.description %></td>
    <td>$<%= product.price %></td>
    <td><%= image_tag product.photo.url %></td>
    <td><%= link_to t('common.show'), product %></td>
  </tr>
<% end %>
</table>