<!DOCTYPE html>
<html>
<head>
  <title>ChessShop</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :css %>
  <%= yield :js %>
</head>
<body>
  <div><%= render :partial => 'users/user_bar' %></div>
  <div><%= render_breadcrumbs %></div>
<%= yield %>

</body>
</html>